[Unit]
Description=harmony hub watcher
After=network.target local-fs.target remote-fs.target

[Service]
ExecStart=/usr/local/sbin/harmonywatcher.sh
Restart=on-failure
Type=simple
KillMode=process

[Install]
WantedBy=multi-user.target


